@font-face {
    font-family:Norse-Bold;
    src: url('./Norse-Bold.otf');
}

:root {
    --regular-spacing:2rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main > div {
    display: flex;
    flex-direction: column wrap;
}

.banner {
    /*Why are these two lines needed? besides centering text, to remove display:block;? */
    display: flex;
    justify-content: center;
    /*end question*/
    position: relative;
    width:45vw;
    height: 100vh;
}

.banner p {
    position: absolute;
    bottom: 1px;
}

.banner p, .banner p > a { color: white; }

.banner > img {
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.banner > div.logo {
    width: inherit;
    position: absolute;
    top:calc(var(--regular-spacing) * 5);
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(43, 39, 39, 0.5);
}

div.logo h1 {
    font-size: 4.5rem;
    margin: var(--regular-spacing) 0;
    font-family: Norse-Bold, sans-serif;
}

div.logo img { 
    width:max(80px,7vw);
    max-width: 250px;
}

.banner + section {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    background-color:#F9FAFB;
}

.description { 
    padding: var(--regular-spacing); 
    font-size: 1.3rem;
    font-weight: 700;
}

form > div:first-child {
    padding: var(--regular-spacing);
    background-color: white;
    box-shadow:5px 3px 10px black;
}

form > div > h2{ margin-top: 0px; }

.form-input-container {
    display: flex;
    flex-flow:row wrap;
    gap: var(--regular-spacing);
}

.form-input-container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 600;
}

form  > div + div { padding: var(--regular-spacing); }

form  > div + div a{ color:#596D48; }

form  > div + div button{
    background-color:#596D48;
    font-weight: 700;
    color: white;
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
}